@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

html {
    color: #333;
}

body {
    margin: 0 auto;
    width: 640px;
    font-size: 16px;
    font-family: "Gentium Basic", serif;
}

h1 {
    font-size: 2.7em;
}

#options-form {
    border: thin solid #DDD;
    border-radius: 2px;
    padding: 12px;
}

span, input {
    font-size: 2em;
    font-family: "Gentium Basic", serif;
    color: #333;
}

#submit-btn {
    font-size: 2em;
    font-family: "Gentium Basic", serif;
    width: 180px;
    margin-right: 6px;
}

#email-input {
    border: thin solid gray;
    border-radius: 2px;
    padding: 2px;
    font-family: "Gentium Basic", serif;
    display: block;
    width: 600px;
    margin: 6px 0;
}

#instructions {
    margin-top: 12px;
    background-color: #FFEEB0;
    border-radius: 2px;
    padding: 12px;
    font-size: 1.3em;
}

#instructions a {
    display: inline-block;
}

#about {
    margin-top: 12px;
    background-color: #D3DFEB;
    border-radius: 2px;
    padding: 12px;
    font-size: 1.3em;
}
